.header
    display: flex
    width: 100vw
    height: 50px
    position: fixed
    top: 0
    left: 0
    z-index: 5
    background-color: rgb(36,36,36)
    justify-content: space-between
    border-bottom: 1px solid #505050

    &__flags
        display: flex

        &__flag
            height: 20px
            width: 35px
            margin: 0 5px
            align-self: center

            &:hover
                cursor: pointer
                box-shadow: 0 0 8px #888888

    &__menubar
        display: flex
        font-family: 'Courier Prime', monospace

        &__menu
            height: 50px
            line-height: 50px
            text-align: center
            width: 15vw
            transition: .3s

            &:hover
                cursor: pointer
                color: #effeff

a
    color: #505050
    text-decoration: none